
</div>
<div class="sidebar">
    <h4 class="text-center mb-4">Admin Panel</h4>

    <a href="{% url 'admin_dashboard' %}" class="d-block px-3 py-2 text-light text-decoration-none">
        Dashboard
    </a>
    <a href="#" class="d-block px-3 py-2 text-light text-decoration-none">
        Manage User
    </a>
    <a href="#" class="d-block px-3 py-2 text-light text-decoration-none">
        Manage Vendor
    </a>
    <a href="#" class="d-block px-3 py-2 text-light text-decoration-none">
        Manage Guests
    </a>
    <a href="{% url 'logout' %}" class="d-block px-3 py-2 text-danger text-decoration-none">
        Logout
    </a>
</div>